* {
  padding: 0;
  margin: 0;
}

.header {
  height: 800px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.footer {
  height: 500px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.playground {
  background-color: black;
  height: 2500px;
}

.animate-container {
  position: relative;
  height: 2000px;
  display: flex;
  justify-content: center;
}

.list {
  margin-top: 300px;
  position: sticky;
  top: 300px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 220px;
}

.list-item {
  margin: 30px;
  background-color: red;
  width: 80px;
  height: 80px;
  /* opacity: 0; */
}